html,body{
	min-width: 400px;
	margin: 0;
	padding: 0;
    font-size: 1.8vw;
    color: white;
}

.header-logo{
	height: 100%;
}
nav{
	height: 100%;
}
li{
	list-style: none;
}
.header-line{
	width: 100%;
	height: 5px;
	background-color: #6db33f;
}
.header-main{
	margin: 0;
	padding: 0 15px;
	background-color: #34302d;
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	text-transform: uppercase;
}
.header-nav{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    height: 100%;
}
li{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
	padding:0 10px;
	box-sizing: border-box;
	max-width:100%;
}
#logo-search{
	filter: invert(100%);
	vertical-align: middle;
}
li:hover{
    background-color: #6db33f;
    cursor: pointer;
}
.header-logo img{
	width: 100%;
	height: auto;
}
.header-logo{
	display: flex;
	flex-direction: row;
	align-items: center;
}
li img{
	width: 2.5vw;
	height: auto;
}
section{
	width: 100%;
	padding: 20px 0;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background-color: #f1f1f1;
	font-size: 1.5vw;
	color: black;
}
.section-block{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
.section-block h1{
    text-transform: uppercase;
    font-size: 2.4vw;
}
.section-block img{
	width: 11vw;
	height: auto;
}

@media screen and (max-width: 700px){
    body{
    	font-size: 2.8vw;
    }
    .global-header{
    	height: auto;
    	min-width: 400px;
    }
    .header-main{
    	flex-direction: column;
    	height: auto;
    }
    
}
/* на случай ,если с min-width не то 
@media screen and (max-width: 400px){
	.global-header{
    	visibility: hidden;
    }
}
 */